* {
  padding: 0;
  margin: 0;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: white;
}

.navbar {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e5e1ee !important;
    padding-left: 10% !important;
    padding-right: 10% !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-left {
    font-family: "Josefin Sans", sans-serif !important;
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

/* LOGIN */
.buttonLogin{
    width: 100%;
    padding: 12px;
    background-color:#fff1fd !important;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1em;
    border: 1px solid #e1d5e0 !important;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.buttonLogin:hover {
    background-color: #f1c1ea !important;
    transition: background-color 2s !important
}

.buttonRegisterFromLogin{
    color: black;
}

.buttonRegisterFromLogin:hover {
    transform: scale(2) !important;
}
